@import "./custom_colors.scss";

.notes{
    margin-left: 0px;
    margin-right: 0px;
    height: calc(100% - 70px);
}
.bm-menu {
    background: white;
    padding-top: 10px;
}

.list-item.is-active{
    background-color: #e4e4e4;
}